<%- if controller_name != 'sessions' %>
	<h4>Alraedy have an account?</h4>
	<h5><%= link_to "Sign in here!", new_session_path(resource_name) %><br /></h5>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	<h4>Don't have an account?</h4>
	<h5><%= link_to "Sign up now!", new_registration_path(resource_name) %></h5>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	<h4>Forgot your password?</h4>
	<h5><%= link_to "Retrieve password here", new_password_path(resource_name) %></h5>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	<h4>Didn't receive confirmation instructions?</h4>
	<h5><%= link_to 'Resend confirmation email again', new_confirmation_path(resource_name) %></h5>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	<h4>Didn't receive unlock instructions?</h4>
	<h5><%= link_to "Resend unlock instructions again", new_unlock_path(resource_name) %></h5>
<% end -%>

<%- if devise_mapping.omniauthable? %>
	<%- resource_class.omniauth_providers.each do |provider| %>
	<h5><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br></h5>
	<% end -%>
<% end -%>