<div class='col-xs-12 col-sm-6'>
	<h2>Change Your Password</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :class => 'form-horizontal', :html => { :method => :put, :role => 'form' }) do |f| %>

		<%= f.hidden_field :reset_password_token %>

		<div class='form-group<%= " has-error" if devise_error_messages! :password %>'>
			<%= f.label :password, "New password", :class => 'control-label' %> <span class='text-danger'><%= devise_error_messages! :password %></span>
			<%= f.password_field :password, :class => 'form-control' %>
		</div>

		<div class='form-group<%= " has-error" if devise_error_messages! :password_confirmation %>'>
			<%= f.label :password_confirmation, "Confirm new password", :class => 'control-label' %> <span class='text-danger'><%= devise_error_messages! :password_confirmation %></span>
			<%= f.password_field :password_confirmation, :class => 'form-control' %>
		</div>

		<div class='form-group'>
			<%= f.submit "Change my password", class: 'btn btn-primary' %>
		</div>
	<% end %>
</div>
<div class='col-xs-12 col-sm-5 col-sm-offset-1 top-spacer-sm'>
	<%= render :partial => "devise/shared/links" %>
</div>