
<div class='clearfix'>
	<h2 class='section-title'><i class='icon-food mr20'></i>Restaurant Channel</h2>
	<div class='grid8 pr20'>
		<ul class='biz-list unstyled'>
			<% @restaurants.each_with_index do |restaurant,index| %>
				<% 
					id = restaurant[:id]
					name = application_return_triple_dashes_if_blank restaurant[:name]
					address = application_return_triple_dashes_if_blank restaurant[:address]
					city = application_return_triple_dashes_if_blank restaurant[:city]
					state = application_return_triple_dashes_if_blank restaurant[:state]
					zip = application_return_triple_dashes_if_blank restaurant[:zip]
					category = application_return_triple_dashes_if_blank restaurant[:category]
					phone = application_return_triple_dashes_if_blank restaurant[:phone]
					rating = application_return_triple_dashes_if_blank restaurant[:rating]
					is_last = (@restaurants.size - 1) == index ? true : false
				%>
				<li class='biz-item<%= is_last ? ' last' : '' -%>' itemscope itemtype='http://data-vocabulary.org/Review'>
					<h4 itemprop='name'>
						<a href='/businesses/<%= id %>'><%= name -%></a>
					</h4>
					<ul class='clearfix unstyled'>
						<li class='grid6'>
							<div itemprop='rating' itemscope itemtype='http://data-vocabulary.org/Rating'>
								Rating: <%= raw application_get_stars_from_score(rating) -%>
								<meta itemprop="rating" content=<%= rating %> /> 
							</div>
							<%= category -%>
						</li>
						<li class='grid6'>
							<div itemprop='telephone'>Phone: <a href='tel:+<%= phone -%>'><%= phone -%></a></div>
							<address>
								<%= address -%><br>
								<%= "#{city}, #{state} #{zip}." -%>
							</address>
						</li>
					</ul>
				</li>
			<% end %>
		</ul>
		<div class="pagination">
	  		<ul>
	    		<li<%= ' class=active' if @pages[:first] == @pages[:current] -%>>
	    			<a<%= " href=/restaurants/#{@pages[:prev]}" if @pages[:prev] -%>>Prev</a>
	    		</li>
	    		<% @pages[:boundaries].each do |page_number| %>
	    			<li<%= ' class=active' if page_number == @pages[:current] -%>>
	    				<a href='<%= "/restaurants/#{page_number}" %>'><%= page_number -%></a>
	    			</li>
	    		<% end %>
	    		<li<%= ' class=active' if @pages[:last] == @pages[:current] -%>>
	    			<a<%= " href=/restaurants/#{@pages[:next]}" if @pages[:next] -%>>Next</a>
	    		</li>
	  		</ul>
		</div>
	</div>
	<div class='biz-map-container grid4'>
		<div id='map' class='map'></div>
	</div>
</div>
<div>
	<%= render partial: 'restaurants/categories' %>
</div>
	<% 
		restaurants_json = @restaurants.to_json(only: [:id,:latlon,:name,:city,:state,:zip,:address,:phone,:hours])
	%>
	<% content_for :script do %>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCVV1uuVJyhdgpkbMLjqDm4jFEcytsdAE&sensor=false"></script>
		<script>
			var Gulpio = Gulpio || {};
			Gulpio.vars = Gulpio.vars || {};
			Gulpio.vars.places = <%= restaurants_json.html_safe -%>;
			Gulpio.Map.getNew({
				id : '#map',
				places : Gulpio.vars.places
			});
			jQuery(function($){
				var $biz_list_el = $('.biz-list'),
					$map = $('#map'),
					biz_list_offset = $biz_list_el.offset(),
					biz_list_offset_top = biz_list_offset.top,
					biz_list_height = $biz_list_el.height(),
					map_height = $map.height();

				$.scroll.fixedTop({
					target: '#map',
					begin: biz_list_offset_top,
					end: biz_list_offset_top + biz_list_height - map_height,
					method: 'margin-top'
				});
			});
		</script>
	<% end %>
</div>
