<% content_for :head do %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCVV1uuVJyhdgpkbMLjqDm4jFEcytsdAE&sensor=false"></script>
<% end %>
<%= render partial: 'application/header_nav' %>
<div>
	<h2 class='section-title'><i class='icon-food mr20'></i>Restaurant Channel</h2>
	<ul class='unstyled'>
		<% @restaurants.each do |restaurant| %>
			<% 
				name = application_return_triple_dashes_if_blank restaurant[:name]
				address = application_return_triple_dashes_if_blank restaurant[:address]
				city = application_return_triple_dashes_if_blank restaurant[:city]
				state = application_return_triple_dashes_if_blank restaurant[:state]
				zip = application_return_triple_dashes_if_blank restaurant[:zip]
				category = application_return_triple_dashes_if_blank restaurant[:category]
				phone = application_return_triple_dashes_if_blank restaurant[:phone]
				parking = application_return_triple_dashes_if_blank restaurant[:parking]
				hours = application_return_triple_dashes_if_blank restaurant[:hours]
				price_range = application_return_triple_dashes_if_blank restaurant[:price_range]
				accept_creditcard = application_return_triple_dashes_if_blank restaurant[:accept_credit_card]
				take_reservation = application_return_triple_dashes_if_blank restaurant[:take_reservation]
				delivery = application_return_triple_dashes_if_blank restaurant[:delivery]
				takeout = application_return_triple_dashes_if_blank restaurant[:takeout]
			%>
			<li class='module'>
				<h4><%= name -%></h4>
				<div><%= category -%></div>
				<address>
					<div><%= address -%></div>
					<span><%= "#{city}, #{state} #{zip}." -%>
				</address>
				<dl class='clearfix'>
					<div class='grid3'>
						<dt>Phone: </dt><dd><%= phone -%></dd>
					</div>
					<div class='grid3'>
						<dt>Parking: </dt><dd><%= parking -%></dd>
					</div>
					<div class='grid3'>
						<dt>Hours: </dt><dd><%= hours -%></dd>
					</div>
					<div class='grid3'>
						<dt>Price Range: </dt><dd><%= raw application_get_stars_from_score(price_range) -%></dd>
					</div>
					<div class='grid3'>
						<dt>Accept Credit Cards: </dt><dd><%= accept_creditcard -%></dd>
					</div>
					<div class='grid3'>
						<dt>Take Reservation: </dt><dd><%= take_reservation -%></dd>
					</div>
					<div class='grid3'>
						<dt>Delivery: </dt><dd><%= delivery -%></dd>
					</div>
					<div class='grid3'>
						<dt>Take Out: </dt><dd><%= takeout -%></dd>
					</div>
				</dl>
			</li>
		<% end %>
	</ul>
	<div class="pagination">
  		<ul>
    		<li<%= ' class=active' if @pages[:first] == @pages[:current] -%>><a<%= " href=/restaurants/#{@pages[:prev]}" if @pages[:prev] -%>>Prev</a></li>
    		<% @pages[:boundaries].each do |page_number| %>
    			<li<%= ' class=active' if page_number == @pages[:current] -%>><a href='<%= "/restaurants/#{page_number}" %>'><%= page_number -%></a></li>
    		<% end %>
    		<li<%= ' class=active' if @pages[:last] == @pages[:current] -%>><a<%= " href=/restaurants/#{@pages[:next]}" if @pages[:next] -%>>Next</a></li>
  		</ul>
	</div>
	<div id='map' style='height:500px;width:500px'></div>

	<%= render partial: 'restaurants/categories' %>
</div>
<% 
	restaurants_json = @restaurants.to_json(only: [:id,:latlon])
%>
<script>
	var Gulpio = Gulpio || {};
	Gulpio.vars = Gulpio.vars || {};
	Gulpio.vars.places = <%= restaurants_json.html_safe -%>;
	Gulpio.Map.getNew({
		id : '#map',
		places : Gulpio.vars.places
	});
</script>