<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Gulpio</title>
		<%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--[if IE 8 ]>
			<%= javascript_include_tag 'utils/html5shiv' %>
		<![endif]-->
		<!--[if IE lte 9 ]>
			<%= stylesheet_link_tag 'global/ie' %>
		<![endif]-->
		<%= yield :head %>
	</head>
	<!--[if IE 8]><body class="ie ie8"><![endif]-->
	<!--[if IE 9]><body class="ie ie9"><![endif]-->
	<!--[if !IE]> --><body><!-- <![endif]-->
		<div class='app container'>
			<header class='app-header'><%= render partial: '/application/header' %></header>
			<section class='app-header-nav'><%= render partial: 'application/header_nav' %></section>
			<section class='app-header-search'><%= render partial: 'application/header_search' %></section>
			<main class='app-main'>
				<div class='clearfix'>
					<% if notice %><div class='text-info col-xs-12'><%= notice %></div><% end %>
					<% if alert %><div class='text-danger col-xs-12'><%= alert %></div><% end %>
				</div>
				<%= yield %>
			</main>
			<footer class='app-footer'></footer>
		</div>
		<%= yield :body %>
	</body>
</html>
